## Data Visualization Course | VNU-HCM University of Science.
### LAP02 - Working with time-series data
#### **STEP 03 - Example - DATA EXPLORATION AND VISUALIZATION**

In [1]:
import sys
import os

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '..')))

In [2]:
from Libraries import *
from Shared_Functions import *

**Đọc dữ liệu từ file đã được xử lý**

In [3]:
dataset_source_path = getGranDir() / 'Dataset'
processed_dataset_path = dataset_source_path / 'google_processed.csv'
df = getDataFrame(processed_dataset_path)

In [4]:
#TEST
df.head(10)

,Date,High,Low,Open,Close,Volume,Adj Close
0,2004-08-19,51.835709,47.800831,49.813290,49.982655,44871361.0,49.982655
1,2004-08-20,54.336334,50.062355,50.316402,53.952770,22942874.0,53.952770
2,2004-08-23,56.528118,54.321388,55.168217,54.495735,18342897.0,54.495735
3,2004-08-24,55.591629,51.591621,55.412300,52.239197,15319808.0,52.239197
4,2004-08-25,53.798351,51.746044,52.284027,52.802086,9232276.0,52.802086
5,2004-08-26,53.773445,52.134586,52.279045,53.753517,7128620.0,53.753517
6,2004-08-27,54.107193,52.647663,53.848164,52.876804,6241307.0,52.876804
7,2004-08-30,52.548038,50.814533,52.443428,50.814533,5221498.0,50.814533
8,2004-08-31,51.661362,50.889256,50.958992,50.993862,4941252.0,50.993862
9,2004-09-01,51.292744,49.648903,51.158245,49.937820,9181687.0,49.937820

**Nhận xét:** qua quá trình pre-proccessing trước đó thì ta nhận thấy tập dữ liệu đã được xử lý hoàn thiện. Khi này ta chỉ cần thực hiện bước tiếp sau khi đọc lại tập dữ liệu là thay đổi kiểu dữ liệu cho các cột sao cho chính xác.

In [5]:
df = changeDataType(df)

In [6]:
#TEST
df.dtypes

Date         datetime64[ns]
High                float64
Low                 float64
Open                float64
Close               float64
Volume              float64
Adj Close           float64
dtype: object

---

### DATA EXPLORATION & DATA VISUALIZATION

HERE

**2. Phân phối giá cổ phiếu trong ngày trong 1 tháng gần nhất có cho thấy sự bất thường nào không? (Ví dụ: giá mở cửa thường thấp hơn giá đóng cửa)**

In [7]:
import pandas as pd
import matplotlib.pyplot as plt

# Đọc dữ liệu từ file (cập nhật với đúng đường dẫn hoặc thay bằng dữ liệu sẵn có)
data = pd.read_csv('google_processed.csv')  # Thay đúng tên file nếu cần
data['Date'] = pd.to_datetime(data['Date'])

# Lọc dữ liệu trong 1 tháng gần nhất
last_month_data = data[data['Date'] >= data['Date'].max() - pd.DateOffset(days=30)]

# Vẽ biểu đồ
plt.figure(figsize=(12, 6))
plt.plot(last_month_data['Date'], last_month_data['Open'], label='Open Price', marker='o')
plt.plot(last_month_data['Date'], last_month_data['Close'], label='Close Price', marker='x')

plt.title('Comparison of Open and Close Prices in the Last Month', fontsize=14)
plt.xlabel('Date', fontsize=12)
plt.ylabel('Price', fontsize=12)
plt.legend()
plt.grid(True)
plt.xticks(rotation=45)
plt.tight_layout()

# Hiển thị biểu đồ
plt.show()

NameError: name 'data' is not defined